{
  "root": true,
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "NodeJS": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "no-only-tests", "import", "mocha"],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "ignorePatterns": ["**/*.guard.ts"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "import/named": "error",
    "strict": ["error", "global"],
    "no-undef": [2, { "typeof": true }],
    "curly": ["error", "all"],
    "no-param-reassign": 0,
    "arrow-parens": ["error", "always"],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-only-tests/no-only-tests": "error",
    "mocha/no-skipped-tests": "error",
    "mocha/no-exclusive-tests": "error",
    "import/no-anonymous-default-export": [
      "error",
      {
        "allowArray": false,
        "allowArrowFunction": false,
        "allowAnonymousClass": false,
        "allowAnonymousFunction": false,
        "allowCallExpression": true, // The true value here is for backward compatibility
        "allowLiteral": false,
        "allowObject": false
      }
    ]
  }
}
