# This workflow will publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Publish

on:
  push:
    branches: ['master']
  workflow_run:
    workflows: ["Build and Test"]
    types:
      - completed

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: npm run semantic-release
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
